.pages {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16px;
	padding: 3px;
	width: 150px;
}
.new {
	font-family: "Qlassik", "Arial";
	text-align: right;
	font-size: 28px;
}
.new a {
	color: #000000;
	text-decoration: none;
}
#errors {
	color: #ff0000;
	text-align: center;
}
table {
	border-spacing: 10px;
	width: 100%;
}
textarea {
	height: 150px;
}
.name input, textarea {
	width: 90%;
}
.submit {
	text-align: center;
	margin: 10px;
}
.submit input {
	width: 100px;
	height: 30px;
}
.code div {
	font-size: 10px;
	margin-top: 4px;
}