.welcome {
	margin-top: 30px;
	font-size: 20px;
}
.fb {
	width: 100%;
}
.fb iframe {
	border: none;
	overflow: hidden;
	width: 400px;
	height: 62px;
}
.teaser {
	overflow: auto;
}
.teaser .left {
	float: left;
	width: 50%;
	margin-top: 10px;
}
.teaser .right {
	float: left;
	width: 50%;
	margin-top: 20px;
}
.teaser .right .hl {
	color: #000000;
	font-size: 34px;
	display: block;
}
.teaser .title {
	font-size: 19px;
	margin-top: 10px;
}
.teaser .hl {
	color: #0090da;
}