.map {
	width: 90%;
	margin: auto;
}
#map {
	width: 100%;
	height: 300px;
}
#map .olControlAttribution, #map .olControlScaleLine {
	font-size: 11px;
	bottom: 0px;
	right: 0px;
	background: rgba(255, 255, 255, 0.7);
	padding: 4px;
	border-top-left-radius: 6px;
}
.olMapViewport {
	border-radius: 15px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.olTileImage {
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

.weather {
	height: 140px;
}
.weather .loader {
	background: url(/gfx/loader.gif) no-repeat;
	height: 32px;
	width: 32px;
	margin: auto;
	margin-top: 20px;
}
.weather .info {
	position: relative;
	top: 0px;
	width: 70%;
	height: 100%;
	margin: auto;
	display: none;
}
.weather .icon {
	position: absolute;
}
.weather .temp {
	position: absolute;
	left: 200px;
}
.weather .yahoo {
	position: absolute;
	right: -40px;
	bottom: 20px;
}