body {
	margin: 0 0 15px 0;
	font-family: "Arial", "DejaVu Sans";
	background: #0869ed url(/gfx/bg.png) repeat-x;
	font-size: 15px;
	color: #043448;
	margin: auto;
	position: relative;
	width: 918px;
}
img {
	border: none;
}
a {
	text-decoration: underline;
	color: #0064ec;
}
a:hover {
	text-decoration: none;
}
.shadow {
	color: inherit;
	text-decoration: none;
	text-shadow: 0px 0px 2px rgba(230, 33, 32, .5);
	-moz-transition: text-shadow .3s;
	-webkit-transition: text-shadow .3s;
	-o-transition: text-shadow .3s;
}
.shadow:hover {
	text-shadow: 0px 0px 4px rgba(230, 33, 32, 1);
}
table {
	width: 100%;
}
h3 {
	margin-bottom: 4px;
	margin-top: 20px;
}

@font-face{
	font-family: 'Qlassik';
	src: url('/media/fonts/qlassik.eot');
	src: url('/media/fonts/qlassik.eot?#iefix') format('embedded-opentype'),
		 url('/media/fonts/qlassik.woff') format('woff')
		 /*url('/media/fonts/Qlassik.ttf') format('truetype')*/
}

#sky {
	width: 993px;
	height: 283px;
	background: url(/gfx/sky.png) no-repeat;
	z-index: -1;
	position: absolute;
	top: 0px;
	left: -30px;
}
#slides {
	position: absolute;
	top: 0px;
	left: 280px;
	width: 550px;
	height: 176px;
	overflow: hidden;
}
#slides div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#slides .slide {
	background-position: top;
	height: 400px;
	background-repeat: no-repeat;
	display: none;
}
#slides .slide.ani {
	z-index: 1;
}
#slides .fg {
	background: url(/gfx/sky.png) no-repeat;
	background-position: 0px -285px;
	z-index: 2;
}
#left {
	position: absolute;
	width: 258px;
	left: 5px;
	z-index: 4;
}
#right {
	position: absolute;
	width: 699px;
	right: 0px;
	z-index: 3;
}
#logo {
	width: 100%;
	height: 149px;
	background: url(/gfx/left.png) no-repeat;
	display: inline-block;
	text-indent: -999px;
}

/* navi */
#navi {
	position: relative;
	background: url(/gfx/left.png) no-repeat;
	background-position: 0px -149px;
	height: 510px;
}
#navi ul {
	position: relative;
	left: 37px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-family: "Qlassik", "Arial";
}
#navi ul a {
	color: #ffffff;
	text-decoration: none;
}
#navi ul li {
	padding: 10px 0px 10px 0px;
	font-size: 28px;
	text-shadow: #000000 1px 1px 5px;
}
#navi ul li.spacer {
	margin-left: 5px;
	background: #ffffff;
	background: -moz-linear-gradient(
		left center,
		rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%
    );
	background: -webkit-linear-gradient(
		left bottom,
		rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%
	);
	background: -o-linear-gradient(
		left bottom,
		rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%
	);
	padding: 0px;
	height: 2px;
	width: 55%;
}
#navi ul li:nth-of-type(2) {
	width: 70%;
}
#navi ul li:nth-of-type(4) {
	width: 67%;
}
#navi ul li:nth-of-type(6) {
	width: 63%;
}
#navi ul li:nth-of-type(8) {
	width: 59%;
}

/* content space */
#content {
	position: relative;
	width: 100%;
}
#content > .top {
	background: url(/gfx/content_top.png) no-repeat;
	height: 55px;
	width: 100%;
	margin-top: 95px;
}
#content > .content {
	position: relative;
	background: url(/gfx/content_bg.png) repeat-y;
	padding: 10px 33px;
	min-height: 550px;
}
#content > .bottom {
	position: relative;
	background: url(/gfx/content_bottom.png) no-repeat;
	width: 100%;
	padding-top: 30px;
	height: 50px;
}
#content > .bottom div {
	text-align: center;
	font-size: 11px;
	color: #ffffff;
	opacity: 0.6;
	width: 100%;
}
#content > .bottom div a {
	color: #ffffff;
}


/* common classes */
.hcen {
	text-align: center;
}
.vcen {
	vertical-align: middle;
}
.hl {
	text-align: center;
	margin-bottom: 15px;
	text-shadow: #cccccc 1px 1px 2px;
	color: #000000;
	font-size: 40px;
	font-family: "Qlassik", "Arial";
}
.small {
	font-size: 13px;
	color: #cccccc;
}
.trenner {
	background: url(/gfx/trenner.png) no-repeat;
	width: 578px;
	height: 6px;
	margin: 30px auto;
}
.inner {
	width: 60%;
	margin: 20px auto;
}
.inner.newSection {
	border-top: 1px solid #cccccc;
	width: 70%;
}
input.btn {
	font-size: 15px;
	width: 120px;
	height: 30px;
}

/* box */
.box {
	width: 98%;
	margin: 15px auto;
	border: 1px solid #aae7ff;
	border-radius: 10px;
	box-shadow: 0px 2px 4px 1px #e1e1e1, inset 0 0 2px 2px #d7f1fb;
}
.box .top {
	padding: 3px 10px;
	color: #ffffff;
	text-shadow: #000000 1px 1px 3px;
	font-size: 17px;
	border-bottom: 1px solid #d7f1fb;
	border-radius: 10px;
	background: url(/gfx/sky.png) no-repeat center;
}
.box .con {
	padding: 10px;
}