.hl.members {
	margin-bottom: 10px;
}
.hl.section {
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.sections {
	text-align: center;
	padding: 3px;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}
.sections, .sections a, .hl.members {
	color: #d72c2c;
}
.sections {
	font-weight: bold;
}
.sections .main {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 3px;
	margin-bottom: 3px;
	font-size: 16px;
}
.sections a {
	text-decoration: none;
	font-weight: normal;
}
.sections a, .sections span {
	padding: 0px 10px;
}
.sections a:hover {
	text-decoration: underline;
}
.sections .sub {
	font-size: 13px;
}

table {
	border-collapse: collapse;
}
table td {
	padding: 3px;
	font-size: 13px;
	vertical-align: top;
}
table .title td {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 2px;
	font-size: 15px;
}

.login .msg {
	color: red;
}
.login td {
	vertical-align: middle;
}

.tickets .box {
	margin-bottom: 30px;
}
.tickets .box.important .top {
	text-shadow: 1px 1px 3px white;
	color: red;
}
.tickets .stats td {
	text-align: center;
}
.tickets .stats td.left {
	text-align: left;
}
.tickets .stats .total td {
	border-top: 1px dashed #cccccc;
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
}
.tickets td.actions {
	width: 10%;
	text-align: right;
}
.tickets td.actions img {
	vertical-align: top;
}
.tickets td.sId {
	font-weight: bold;
}

.orderDetails .back {
	font-size: 13px;
	margin-left: 20px;
}
.orderDetails .topRow {
	overflow: auto;
	padding: 0px 5px;
	width: 100%;
}
.orderDetails .overview {
	width: 60%;
	float: left;
}
.orderDetails .overview .newSection td {
	padding-top: 5px;
	border-top: 1px solid #cccccc;
}
.orderDetails .overview td.left {
	width: 40%;
}
.orderDetails .overview td.right {
	width: 60%;
}
.orderDetails .actions {
	width: 35%;
	float: left;
	margin-left: 20px;
	font-size: 14px;
}
.orderDetails .actions ul {
	margin: 0px 10px;
	padding: 0px;
}
.orderDetails .actions ul li {
	list-style: none;
	margin: 5px 0px;
}
.orderDetails .cancel {
	display: none;
}
.orderDetails .cancel input[name=reason] {
	width: 97%;
	margin-top: 10px;
}
.orderDetails .cancel .hcen {
	margin-top: 10px;
}
.orderDetails .cancelled, .orderDetails .finished {
	font-weight: bold;
}
.orderDetails .cancelled {
	color: red;
}
.orderDetails .finished {
	color: green;
}