/* adjust content space for microsite */
#content > .top {
	background: url(/gfx/theater/montevideo/content_top.png) no-repeat;
	height: 606px;
}
#content > .content {
	background: url(/gfx/theater/montevideo/content_first.png) no-repeat;
	padding: 1px 230px 1px 50px;
	min-height: 332px;
}
#content > .content.next {
	background: url(/gfx/theater/montevideo/content_bg.png) repeat-y;
	padding: 1px 50px;
	min-height: 0px;
}
#content > .bottom {
	background: url(/gfx/theater/montevideo/content_bottom.png) no-repeat;
}

@font-face {
	font-family: 'Ovo';
	src: url('/media/fonts/ovo.eot');
	src: url('/media/fonts/ovo.eot?#iefix') format('embedded-opentype'),
		 url(/media/fonts/ovo.woff) format('woff');
}

.info {
	color: #ffffff;
	text-align: justify;
	text-shadow: #000000 0px 0px 10px;
	font-size: 18px;
	font-family: 'Ovo', cursive;
}
.info a {
	color: #cccccc;
	font-style: italic;
	text-decoration: none;
}
.info h2 {
	margin-left: -15px;
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 26px;
	font-weight: bold;
}