.prices {
	font-size: 19px;
	margin: 30px 0px 10px 0px;
}
.prices td {
	padding-bottom: 10px;
}
.prices .price {
	text-align: right;
	vertical-align: top;
	font-weight: bold;
	padding: 0px 10px;
	width: 15%;
}
.prices div {
	margin: 10px;
	font-size: 13px;
}
.spons {
	position: absolute;
	top: 0px;
}
.termine .point {
	background: url(/gfx/point.png) no-repeat;
	width: 25px;
	height: 25px;
}
.termine table {
	font-weight: bold;
}
.container {
	margin: 20px 0px;
	position: relative;
	overflow: auto;
}
.container .title {
	float: left;
	margin-top: 45px;
	margin-left: 10px;
	text-align: center;
}
.container .termine {
	width: 47%;
	float: right;
	margin: 10px;
}
.premium {
	color: #c4a672;
	text-shadow: #C0C0C0 1px 1px 3px;
}
#spons {
	position: relative;
	height: 100px;
	overflow: hidden;
	margin-bottom: 10px;
	width: 100%;
}
#spons .logos {
	position: absolute;
	top: 20px;
	left: 0px;
	white-space: nowrap;
	visibility: hidden;
	display: block;
	width: 100%;
}
#spons .logos div {
	padding: 0px 30px;
	border-right: 1px solid #cccccc;
}
#spons .logos div {
	position: absolute;
	top: 0px;
}
#spons .fg {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(/gfx/termine/sponsoren-fg.png) no-repeat;
}
.online {
	display: block;
	padding: 10px;
	font-size: 27px;
}
.hl .small {
	color: #000000;
	font-size: 22px;
}
.hotline {
	font-size: 19px;
}
.stores ul {
	margin: 20px;
	padding-left: 30px;
}
.stores li {
	padding: 3px;
}