/* -- common classes -- */
table {
	border-collapse: collapse;
}
table td {
	padding: 3px;
	font-size: 13px;
	vertical-align: top;
}
table .title td {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 2px;
	font-size: 15px;
}
table td.actions {
	width: 10%;
	text-align: right;
}
table td.actions img {
	vertical-align: top;
}
table td.sId {
	font-weight: bold;
}
.hl.section {
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 20px;
}
.msg {
	color: red;
}
.new {
	position: absolute;
	right: 1%;
	top: -68px;
	width: auto;
}
.new a {
	font-size: 14px;
	color: white;
	text-decoration: none;
}
.back {
	font-size: 13px;
	margin-left: 20px;
}


/* -- navigation bar -- */
.navbar .top {
	position: relative;
}
.navbar .hl {
	text-align: left;
	margin-bottom: 0px;
	font-size: 35px;
}
.navbar .userinfo {
	position: absolute;
	right: 10px;
	bottom: 10px;
	font-size: 14px;
}
.navbar .hl, .navbar > .top a {
	text-shadow: 0px 0px 3px #cccccc;
}
.navbar .hl, .navbar a {
	color: #fe2617;
	text-decoration: none;
}
.navbar a:hover {
	text-decoration: underline;
}
.navbar .con {
	padding: 0px;
}
.navbar .sections {
	overflow: auto;
}
.navbar .sections:first-child {
	border-bottom: 1px solid #ebebeb;
}
.navbar .sections .name {
	font-weight: bold;
	text-align: right;
	width: 80px;
}
.navbar .sections div {
	float: left;
	padding: 5px 7px;
}
.navbar .sections .main {
	margin-left: 10px;
	font-weight: bold;
}
.navbar .sections .section {
	border-left: 1px solid #ebebeb;
}
.navbar .sections a.current {
	text-decoration: none;
	font-weight: bold;
}