/* -- orders list --*/
.orders {
	position: relative;
}
.orders .box {
	margin-bottom: 10px;
}
.orders .box.important .top {
	text-shadow: 1px 1px 3px white;
	color: red;
}
.orders .more div {
	letter-spacing: 5px;
	font-size: 20px;
	margin-bottom: 5px;
}
.orders .more a {
	font-size: 14px;
}
.orders .search {
	margin-bottom: 30px;
}


/* -- new order -- */
.newOrder table {
	border-collapse: collapse;
}
.newOrder tr td:first-child {
	width: 30%;
}
.newOrder td {
	padding: 5px;
	vertical-align: middle;
}
.newOrder td .small {
	margin-top: 5px;
}


/* -- free tickets -- */
.free {
	position: relative;
}
.free .category td {
	font-size: 16px;
	padding-top: 15px;
	padding-left: 15px;
	font-weight: bold;
}

/* -- search -- */
.search td:first-child {
	width: 25%;
}
.search td {
	padding: 5px;
	border-top: 1px solid #f1f1f1;
	vertical-align: middle;
}
.search tr td:first-child {
	border-right: 1px solid #f1f1f1;
}
.search .con > table tr:first-child td {
	border-top: none;
}
.search .more {
	display: none;
}
.search .showMore {
	cursor: pointer;
	text-align: right;
	font-size: 12px;
	padding-right: 20px;
}
.search .sId {
	width: 50px;
}
.search input[name=ticketNumber] {
	width: 30px;
	margin-left: 10px;
}