/* -- orders list --*/
.orders {
	position: relative;
}
.orders .box {
	margin-bottom: 10px;
}
.orders .box.important .top {
	text-shadow: 1px 1px 3px white;
	color: red;
}
.orders .more div {
	letter-spacing: 5px;
	font-size: 20px;
	margin-bottom: 5px;
}
.orders .more a {
	font-size: 14px;
}
.orders .search {
	margin-bottom: 30px;
}


/* -- new order -- */
.newOrder table {
	border-collapse: collapse;
}
.newOrder tr td:first-child {
	width: 30%;
}
.newOrder td {
	padding: 5px;
	vertical-align: middle;
}
.newOrder td .small {
	margin-top: 5px;
}
.newOrder .free {
	display: none;
}
.newOrder .free, .newOrder .nonFree {
	width: 100%;
}


/* -- search -- */
.search td:first-child {
	width: 25%;
}
.search td {
	padding: 5px;
	border-top: 1px solid #f1f1f1;
	vertical-align: middle;
}
.search tr td:first-child {
	border-right: 1px solid #f1f1f1;
}
.search .con > table tr:first-child td {
	border-top: none;
}
.search .more {
	display: none;
}
.search .showMore {
	cursor: pointer;
	text-align: right;
	font-size: 12px;
	padding-right: 20px;
}
.search .sId {
	width: 50px;
}
.search input[name=ticketNumber] {
	width: 30px;
	margin-left: 10px;
}
.results .pageNav {
	width: 50%;
	margin: 10px auto 0px auto;
	border: 1px solid #aae7ff;
	border-radius: 10px;
	box-shadow: inset 0 0 2px 2px #d7f1fb;
	padding: 3px 0px;
	text-align: center;
	font-size: 13px;
	color: #cccccc;
}
.results .pageNav .pages {
	color: #7d7d7d;
}
.results .pageNav .pages span {
	cursor: pointer;
	padding-left: 3px;
}
.results .pageNav .pages span:hover {
	text-decoration: underline;
}
.results .pageNav .pages span.current {
	font-weight: bold;
	color: black;
}